body{
    background-color: red;
}
div.my-whole-grid{
    margin: 100px;
    width: 100vw !important;
    // background-color: rgb(230, 95, 5);
    border: 1px solid black;
    .my-row{
        
        width: 100% !important;

        // background-color: rgb(70, 60, 211);
        border: 1px solid black;
        text-align: center;
        .my-grid{
            border: 1px solid black;
        }
    }
}